
{
	"_id" : ObjectId("59fc98a9c9d99ff4daace73f"),
	"subject" : "AQI Nightly Publishing Status",
	"sindex" : "elcqpNightlyJobStatus",
	"contentpage" : "/jobstatus/elcqpNightlyJobStatus.php",
	"subscribers" : [
		{
			"name" : "Arthur Niu",
			"email" : "aniu@toronto.ca"
		},
		{
			"name" : "Antonio Hon",
			"email" : "antonio.hon@toronto.ca"
		},
		{
			"name" : "Inderjit Rai",
			"email" : "inderjit.rai@toronto.ca"
		},
		{
			"name" : "James Yu",
			"email" : "jyu2@toronto.ca"
		},
		{
			"name" : "Wei Zheng",
			"email" : "wei.zheng@toronto.ca"
		},
		{
			"name" : "Prabodha Gunawardena",
			"email" : "Prabodha.Gunawardena@toronto.ca"
		},
		{
			"name" : "Charis Chui",
			"email" : "charis.chui@toronto.ca"
		},
		{
			"name" : "Louella Pires",
			"email" : "louella.pires@toronto.ca"
		}
	]
}

{
	"sindex" : "wasDeploymentJobStatus",
	"subject" : "WAS Deployment Status",
	"contentpage" : "/crud/morningUpdateWasDeploymentStatus.php",
	"subscribers" : [
		{
			"name" : "Arthur Niu",
			"email" : "aniu@toronto.ca"
		},
		{
			"name" : "Antonio Hon",
			"email" : "antonio.hon@toronto.ca"
		},
		{
			"name" : "James Zhang",
			"email" : "james.zhang@toronto.ca"
		},
		{
			"name" : "Deval Parikh",
			"email" : "deval.parikh@toronto.ca"
		}
	]
}

{
	"sindex" : "overallSytstemStatus",
	"subject" : "Overall System Status",
	"contentpage" : "/jobstatus/morningUpdates.php",
	"subscribers" : [
		{
			"name" : "Arthur Niu",
			"email" : "aniu@toronto.ca"
		},
		{
			"name" : "Antonio Hon",
			"email" : "antonio.hon@toronto.ca"
		},
		{
			"name" : "Deval Parikh",
			"email" : "deval.parikh@toronto.ca"
		}
	]
}
